{% extends 'auctions/layout.html' %}
{% load custom_filters %}


{% block body %}
    <h2>Closed Listings</h2>
    
    {% if closed_listings %}
        {% for listing in closed_listings %}
            <div class="card mb-3 bg-light">
                
                {% if listing.image %}
                    <img 
                    src="{{ listing.image }}"
                    class="card-img-top"
                    alt="Auction Item"
                    style="max-width: 20%; height: auto;">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'listing-detail' listing.title%}">{{ listing.title }}</a>
                    </h5>
                    <p class="card-text">{{ listing.description|linebreaksbr}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock  %}