{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    {% if listing not in user.watchlist.all %}
        <a href="{% url 'add_to_watchlist' listing.title%}" class="badge badge-secondary" style="margin-bottom: 18px;">
            Add to Wathlist
        </a>
    {% else %}
        <a href="{% url 'remove_from_watchlist' listing.title %}" class="badge badge-warning" style="margin-bottom: 18px;">
            Remove from Watchlist
        </a>
    {% endif %}
{% else %}
    <div class="alert alert-info" role="alert">
        Log in to manage your Watchlist!
    </div>
{% endif %}


{% if messages %}
    <ul class="list-group" style="margin: 0 0 10px 0">
    {% for message in messages %}
        <li class="list-group-item list-group-item-info">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}


<div class="card mb-3 bg-light">
    <div class="card-header">
        <h5>Listing: {{ listing.title }}</h5>
    </div>

    {% if listing.image %}
        <img 
        src="{{ listing.image }}"
        class="card-img-top mx-auto"
        alt="Auction Item"
        style="max-width: 35%; height: auto;">
    {% endif %}

    <div class="card-body">
        <div class="mb-4">
            {% if highest_bid %}
                <h6><span class="badge bg-info">Current Bid: {{ highest_bid }}$</span></h6>
            {% elif start_bid %}
                <h6><span class="badge bg-info">Current Bid: {{ start_bid }}$</span></h6>
            {% else %}
                <h6><span class="badge bg-info">Current Bid: {{ start_bid }}$</span></h6>
            {% endif %}
        </div>
        
        {% if user.is_authenticated %}
            <form action="{% url 'place_bid' listing.title %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="bid_amount">Bid amount:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="bid_amount" name="bid_amount" placeholder="Bid">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Place bid">
                    </div>
                </div>
            </form>
            
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
                Log in to place a Bid!
            </div>        
        {% endif %}
            
        <h6 class="card-detail">Details:</h6>
        <p class="card-text">{{ listing.description|linebreaksbr }}</p>
    </div>

    <div class="card-footer">

        {% if user.is_authenticated %}
            <form action="{% url 'add_comment' listing.title %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment">Leave your comment:</label>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" name="comment" rows=3></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add comment">
                    </div>
                </div>
            </form>

            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            {% for comment in comments %}
            <div class="d-flex flex-start">
                <div>
                    <h6 class="fw-bold mb-1">{{ comment.user.username }}</h6>
                    <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                            {{ comment.timestamp }}
                            <!-- <span class="badge bg-primary">Pending</span> -->
                        </p>
                    </div>
                    <p class="mb-1">
                        {{ comment.comment }}
                    </p>
                </div>
            </div>

            <hr class="my-0" />

            <div class="row mb-4"></div>
            {% endfor %}

        {% else %}
            <div class="alert alert-info" role="alert">
                Log in to place a Comment!
            </div>  

        {% endif %}
    </div>
</div>

{% endblock %}
