{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    {% if listing not in user.watchlist.all %}
        <a href="{% url 'add_to_watchlist' listing.title%}" class="badge badge-secondary" style="margin-bottom: 18px;">
            Add to Wathlist
        </a>
    {% else %}
        <a href="{% url 'remove_from_watchlist' listing.title %}" class="badge badge-warning" style="margin-bottom: 18px;">
            Remove from Watchlist
        </a>
    {% endif %}
{% else %}
    <div class="alert alert-info" role="alert">
        Log in to manage your Watchlist!
    </div>
{% endif %}


{% if messages %}
    <ul class="list-group" style="margin: 0 0 10px 0">
    {% for message in messages %}
        <li class="list-group-item list-group-item-info">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}


<div class="card mb-3 bg-light">
    <div class="card-header">
        <h5>Listing: {{ listing.title }}</h5>
    </div>

    {% if listing.image %}
        <img 
        src="{{ listing.image }}"
        class="card-img-top mx-auto"
        alt="Auction Item"
        style="max-width: 35%; height: auto;">
    {% endif %}

    <div class="card-body">
        <div class="mb-4">
            {% if highest_bid %}
                <h6><span class="badge bg-info">Current Bid: {{ highest_bid }}$</span></h6>
            {% elif start_bid %}
                <h6><span class="badge bg-info">Current Bid: {{ start_bid }}$</span></h6>
            {% else %}
                <h6><span class="badge bg-info">Current Bid: {{ start_bid }}$</span></h6>
            {% endif %}
        </div>
        
        {% if user.is_authenticated %}
            <form action="{% url 'place_bid' listing.title %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="bid_amount">Bid amount:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="bid_amount" name="bid_amount" placeholder="Bid">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Place bid">
                    </div>
                </div>
            </form>
            
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
                
        {% endif %}
            
        <h6 class="card-detail">Details:</h6>
        <p class="card-text">{{ listing.description|linebreaksbr }}</p>
    </div>
</div>

{% endblock %}
